@keyframes open-close {
    from {
        transform: skew(0deg, 0deg);
    }

    to {
        transform: skew(45deg, 45deg);
    }
}

* {
    box-sizing: border-box;
}

:root {
    --pacman-size: min(calc(100vh / 30), calc(100vw / 28));
}
html {
    padding: 0;
}

body {
    align-items: center;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.spacer {
    background-color: #000000;
    height: 100%;
    position: relative;
    z-index: 10;
}

.pacman {
    background-color: rgb(219, 219, 0);
    border-radius: var(--pacman-size);
    height: var(--pacman-size);
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: var(--pacman-size);
}

.pacman.right {
    transform: rotate(-45deg);
}

.pacman.left {
    transform: rotate(-225deg);
}

.pacman.up {
    transform: rotate(-135deg);
}

.pacman.down {
    transform: rotate(-315deg);
}

.mouth {
    animation: open-close .15s infinite;
    animation-direction: alternate;
    background-color: #000000;
    border: 0;
    height: var(--pacman-size);
    left: 50%;
    transform-origin: 0 0;
    top: 50%;
    position: absolute;
    width: var(--pacman-size);
}

.maze {
    display:  flex;
    flex-direction: column;
    position: relative;

    & > div {
        display: grid;
        grid-template-columns: repeat(28, var(--pacman-size));
    }
}

.highlight {
    border: 1px solid #FFFFFF;
}

.wall, .pellet, .space, .power {
    height: var(--pacman-size);
    width: var(--pacman-size);
}

.wall {
    background-color: blue;
}

.space, .pellet, .power {
    background-color: black;
}

.pellet:after {
    background-color: #FFFFFF;
    border-radius: 10px;
    content: "*";
    display: block;
    font-size: 0;
    height: calc(var(--pacman-size) / 5);
    transform: translate(200%, 200%);
    width: calc(var(--pacman-size) / 5);
}